@import "../../../assets/themes/default/color_cheme";
@import "../../../assets/themes/default/font-sizes";
@import "../../../assets/themes/default/variables";

.footer{
  width: 90%;
  height: $footer-height;
  position: relative;
  display: table;
  bottom: 0;
  margin: 0 auto;
  border-top: 1px solid $brdr-light;
  span{
    color: $font-thrd-clr;
    text-align: center;
    margin: 0 10px;
    font-size: $font-14px;
  }
  .one, .two, three, .four{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .one{
    text-align: left;
    width: 30%;
  }

  .two{
    width: 40%;
    span{
      font-size: $font-12px;
      color: $font-scnd-clr;
    }
  }

  .four{
    text-align: right;
    width: 30%;
  }
}