@font-face {
  font-family: 'boilerplate';
  src:
    url('fonts/boilerplate.ttf?5w8suz') format('truetype'),
    url('fonts/boilerplate.woff?5w8suz') format('woff'),
    url('fonts/boilerplate.svg?5w8suz#boilerplate') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'boilerplate' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-ac_unit:before {
  content: "\eb3b";
}
.i-access_alarms:before {
  content: "\e191";
}
.i-schedule:before {
  content: "\e8b5";
}
.i-accessibility:before {
  content: "\e84e";
}
.i-account_balance:before {
  content: "\e84f";
}
.i-account_balance_wallet:before {
  content: "\e850";
}
.i-account_box:before {
  content: "\e851";
}
.i-account_circle:before {
  content: "\e853";
}
.i-add:before {
  content: "\e145";
}
.i-add_a_photo:before {
  content: "\e439";
}
.i-add_circle:before {
  content: "\e147";
}
.i-control_point:before {
  content: "\e3ba";
}
.i-add_location:before {
  content: "\e567";
}
.i-add_shopping_cart:before {
  content: "\e854";
}
.i-airline_seat_individual_suite:before {
  content: "\e632";
}
.i-flight:before {
  content: "\e539";
}
.i-airplanemode_inactive:before {
  content: "\e194";
}
.i-all_inclusive:before {
  content: "\eb3d";
}
.i-apps:before {
  content: "\e5c3";
}
.i-arrow_back:before {
  content: "\e5c4";
}
.i-arrow_downward:before {
  content: "\e5db";
}
.i-arrow_forward:before {
  content: "\e5c8";
}
.i-arrow_upward:before {
  content: "\e5d8";
}
.i-attach_file:before {
  content: "\e226";
}
.i-attach_money:before {
  content: "\e227";
}
.i-autorenew:before {
  content: "\e863";
}
.i-av_timer:before {
  content: "\e01b";
}
.i-cloud_upload:before {
  content: "\e2c3";
}
.i-block:before {
  content: "\e14b";
}
.i-bluetooth:before {
  content: "\e1a7";
}
.i-bluetooth_disabled:before {
  content: "\e1a9";
}
.i-blur_linear:before {
  content: "\e3a3";
}
.i-class:before {
  content: "\e86e";
}
.i-turned_in:before {
  content: "\e8e6";
}
.i-turned_in_not:before {
  content: "\e8e7";
}
.i-border_all:before {
  content: "\e228";
}
.i-border_bottom:before {
  content: "\e229";
}
.i-border_clear:before {
  content: "\e22a";
}
.i-border_color:before {
  content: "\e22b";
}
.i-border_horizontal:before {
  content: "\e22c";
}
.i-border_inner:before {
  content: "\e22d";
}
.i-border_left:before {
  content: "\e22e";
}
.i-border_outer:before {
  content: "\e22f";
}
.i-border_right:before {
  content: "\e230";
}
.i-border_style:before {
  content: "\e231";
}
.i-border_top:before {
  content: "\e232";
}
.i-border_vertical:before {
  content: "\e233";
}
.i-build:before {
  content: "\e869";
}
.i-cached:before {
  content: "\e86a";
}
.i-phone2:before {
  content: "\e0cd";
}
.i-call_end:before {
  content: "\e0b1";
}
.i-camera:before {
  content: "\e3af";
}
.i-photo_camera:before {
  content: "\e412";
}
.i-camera_roll:before {
  content: "\e3b3";
}
.i-redeem:before {
  content: "\e8b1";
}
.i-card_travel:before {
  content: "\e8f8";
}
.i-chat:before {
  content: "\e0b7";
}
.i-check:before {
  content: "\e5ca";
}
.i-child_friendly:before {
  content: "\eb42";
}
.i-close:before {
  content: "\e5cd";
}
.i-cloud_done:before {
  content: "\e2bf";
}
.i-cloud_download:before {
  content: "\e2c0";
}
.i-cloud_off:before {
  content: "\e2c1";
}
.i-cloud_queue:before {
  content: "\e2c2";
}
.i-code:before {
  content: "\e86f";
}
.i-photo_library:before {
  content: "\e413";
}
.i-colorize:before {
  content: "\e3b8";
}
.i-contact_mail:before {
  content: "\e0d0";
}
.i-mode_edit:before {
  content: "\e254";
}
.i-dashboard:before {
  content: "\e871";
}
.i-dehaze:before {
  content: "\e3c7";
}
.i-delete:before {
  content: "\e872";
}
.i-desktop_mac:before {
  content: "\e30b";
}
.i-phonelink:before {
  content: "\e326";
}
.i-devices_other:before {
  content: "\e337";
}
.i-done:before {
  content: "\e876";
}
.i-done_all:before {
  content: "\e877";
}
.i-drafts:before {
  content: "\e151";
}
.i-edit_location:before {
  content: "\e568";
}
.i-markunread:before {
  content: "\e159";
}
.i-error:before {
  content: "\e000";
}
.i-error_outline:before {
  content: "\e001";
}
.i-insert_invitation:before {
  content: "\e24f";
}
.i-event_available:before {
  content: "\e614";
}
.i-event_busy:before {
  content: "\e615";
}
.i-event_note:before {
  content: "\e616";
}
.i-fast_forward:before {
  content: "\e01f";
}
.i-fast_rewind:before {
  content: "\e020";
}
.i-favorite:before {
  content: "\e87d";
}
.i-favorite_border:before {
  content: "\e87e";
}
.i-get_app:before {
  content: "\e884";
}
.i-file_upload:before {
  content: "\e2c6";
}
.i-folder:before {
  content: "\e2c7";
}
.i-folder_open:before {
  content: "\e2c8";
}
.i-format_align_center:before {
  content: "\e234";
}
.i-format_align_justify:before {
  content: "\e235";
}
.i-format_align_left:before {
  content: "\e236";
}
.i-format_align_right:before {
  content: "\e237";
}
.i-format_bold:before {
  content: "\e238";
}
.i-format_clear:before {
  content: "\e239";
}
.i-format_color_text:before {
  content: "\e23c";
}
.i-format_indent_decrease:before {
  content: "\e23d";
}
.i-format_indent_increase:before {
  content: "\e23e";
}
.i-format_line_spacing:before {
  content: "\e240";
}
.i-format_list_bulleted:before {
  content: "\e241";
}
.i-format_list_numbered:before {
  content: "\e242";
}
.i-format_paint:before {
  content: "\e243";
}
.i-format_quote:before {
  content: "\e244";
}
.i-format_size:before {
  content: "\e245";
}
.i-format_textdirection_l_to_r:before {
  content: "\e247";
}
.i-format_textdirection_r_to_l:before {
  content: "\e248";
}
.i-format_underlined:before {
  content: "\e249";
}
.i-headset:before {
  content: "\e310";
}
.i-hourglass_empty:before {
  content: "\e88b";
}
.i-hourglass_full:before {
  content: "\e88c";
}
.i-lock:before {
  content: "\e897";
}
.i-photo:before {
  content: "\e410";
}
.i-invert_colors:before {
  content: "\e891";
}
.i-keyboard_arrow_down:before {
  content: "\e313";
}
.i-keyboard_arrow_left:before {
  content: "\e314";
}
.i-keyboard_arrow_right:before {
  content: "\e315";
}
.i-keyboard_arrow_up:before {
  content: "\e316";
}
.i-laptop_mac:before {
  content: "\e320";
}
.i-local_gas_station:before {
  content: "\e546";
}
.i-shopping_cart:before {
  content: "\e8cc";
}
.i-room:before {
  content: "\e8b4";
}
.i-lock_open:before {
  content: "\e898";
}
.i-lock_outline:before {
  content: "\e899";
}
.i-navigation:before {
  content: "\e55d";
}
.i-near_me:before {
  content: "\e569";
}
.i-person:before {
  content: "\e7fd";
}
.i-person_add:before {
  content: "\e7fe";
}
.i-phone_android:before {
  content: "\e324";
}
.i-phonelink_off:before {
  content: "\e327";
}
.i-phonelink_ring:before {
  content: "\e0dd";
}
.i-play_arrow:before {
  content: "\e037";
}
.i-repeat:before {
  content: "\e040";
}
.i-repeat_one:before {
  content: "\e041";
}
.i-replay:before {
  content: "\e042";
}
.i-replay_10:before {
  content: "\e059";
}
.i-replay_30:before {
  content: "\e05a";
}
.i-replay_5:before {
  content: "\e05b";
}
.i-send:before {
  content: "\e163";
}
.i-skip_next:before {
  content: "\e044";
}
.i-skip_previous:before {
  content: "\e045";
}
.i-thumb_down:before {
  content: "\e8db";
}
.i-thumb_up:before {
  content: "\e8dc";
}
.i-timeline:before {
  content: "\e922";
}
.i-view_list:before {
  content: "\e8ef";
}
.i-view_module:before {
  content: "\e8f0";
}
.i-view_quilt:before {
  content: "\e8f1";
}
.i-view_stream:before {
  content: "\e8f2";
}
.i-volume_off:before {
  content: "\e04f";
}
.i-volume_up:before {
  content: "\e050";
}
.i-zoom_in:before {
  content: "\e8ff";
}
.i-zoom_out:before {
  content: "\e900";
}
