$icomoon-font-path: "fonts" !default;

$i-ac_unit: "\eb3b";
$i-access_alarms: "\e191";
$i-schedule: "\e8b5";
$i-accessibility: "\e84e";
$i-account_balance: "\e84f";
$i-account_balance_wallet: "\e850";
$i-account_box: "\e851";
$i-account_circle: "\e853";
$i-add: "\e145";
$i-add_a_photo: "\e439";
$i-add_circle: "\e147";
$i-control_point: "\e3ba";
$i-add_location: "\e567";
$i-add_shopping_cart: "\e854";
$i-airline_seat_individual_suite: "\e632";
$i-flight: "\e539";
$i-airplanemode_inactive: "\e194";
$i-all_inclusive: "\eb3d";
$i-apps: "\e5c3";
$i-arrow_back: "\e5c4";
$i-arrow_downward: "\e5db";
$i-arrow_forward: "\e5c8";
$i-arrow_upward: "\e5d8";
$i-attach_file: "\e226";
$i-attach_money: "\e227";
$i-autorenew: "\e863";
$i-av_timer: "\e01b";
$i-cloud_upload: "\e2c3";
$i-block: "\e14b";
$i-bluetooth: "\e1a7";
$i-bluetooth_disabled: "\e1a9";
$i-blur_linear: "\e3a3";
$i-class: "\e86e";
$i-turned_in: "\e8e6";
$i-turned_in_not: "\e8e7";
$i-border_all: "\e228";
$i-border_bottom: "\e229";
$i-border_clear: "\e22a";
$i-border_color: "\e22b";
$i-border_horizontal: "\e22c";
$i-border_inner: "\e22d";
$i-border_left: "\e22e";
$i-border_outer: "\e22f";
$i-border_right: "\e230";
$i-border_style: "\e231";
$i-border_top: "\e232";
$i-border_vertical: "\e233";
$i-build: "\e869";
$i-cached: "\e86a";
$i-phone2: "\e0cd";
$i-call_end: "\e0b1";
$i-camera: "\e3af";
$i-photo_camera: "\e412";
$i-camera_roll: "\e3b3";
$i-redeem: "\e8b1";
$i-card_travel: "\e8f8";
$i-chat: "\e0b7";
$i-child_friendly: "\eb42";
$i-cloud_done: "\e2bf";
$i-cloud_download: "\e2c0";
$i-cloud_off: "\e2c1";
$i-cloud_queue: "\e2c2";
$i-code: "\e86f";
$i-photo_library: "\e413";
$i-colorize: "\e3b8";
$i-contact_mail: "\e0d0";
$i-mode_edit: "\e254";
$i-dashboard: "\e871";
$i-dehaze: "\e3c7";
$i-delete: "\e872";
$i-desktop_mac: "\e30b";
$i-phonelink: "\e326";
$i-devices_other: "\e337";
$i-done: "\e876";
$i-done_all: "\e877";
$i-drafts: "\e151";
$i-edit_location: "\e568";
$i-markunread: "\e159";
$i-error: "\e000";
$i-error_outline: "\e001";
$i-insert_invitation: "\e24f";
$i-event_available: "\e614";
$i-event_busy: "\e615";
$i-event_note: "\e616";
$i-fast_forward: "\e01f";
$i-fast_rewind: "\e020";
$i-favorite: "\e87d";
$i-favorite_border: "\e87e";
$i-get_app: "\e884";
$i-file_upload: "\e2c6";
$i-folder: "\e2c7";
$i-folder_open: "\e2c8";
$i-format_align_center: "\e234";
$i-format_align_justify: "\e235";
$i-format_align_left: "\e236";
$i-format_align_right: "\e237";
$i-format_bold: "\e238";
$i-format_clear: "\e239";
$i-format_color_text: "\e23c";
$i-format_indent_decrease: "\e23d";
$i-format_indent_increase: "\e23e";
$i-format_line_spacing: "\e240";
$i-format_list_bulleted: "\e241";
$i-format_list_numbered: "\e242";
$i-format_paint: "\e243";
$i-format_quote: "\e244";
$i-format_size: "\e245";
$i-format_textdirection_l_to_r: "\e247";
$i-format_textdirection_r_to_l: "\e248";
$i-format_underlined: "\e249";
$i-headset: "\e310";
$i-hourglass_empty: "\e88b";
$i-hourglass_full: "\e88c";
$i-lock: "\e897";
$i-photo: "\e410";
$i-invert_colors: "\e891";
$i-laptop_mac: "\e320";
$i-local_gas_station: "\e546";
$i-shopping_cart: "\e8cc";
$i-room: "\e8b4";
$i-lock_open: "\e898";
$i-lock_outline: "\e899";
$i-navigation: "\e55d";
$i-near_me: "\e569";
$i-person: "\e7fd";
$i-person_add: "\e7fe";
$i-phone_android: "\e324";
$i-phonelink_off: "\e327";
$i-phonelink_ring: "\e0dd";
$i-play_arrow: "\e037";
$i-repeat: "\e040";
$i-repeat_one: "\e041";
$i-replay: "\e042";
$i-replay_10: "\e059";
$i-replay_30: "\e05a";
$i-replay_5: "\e05b";
$i-send: "\e163";
$i-skip_next: "\e044";
$i-skip_previous: "\e045";
$i-thumb_down: "\e8db";
$i-thumb_up: "\e8dc";
$i-timeline: "\e922";
$i-view_list: "\e8ef";
$i-view_module: "\e8f0";
$i-view_quilt: "\e8f1";
$i-view_stream: "\e8f2";
$i-volume_off: "\e04f";
$i-volume_up: "\e050";
$i-zoom_in: "\e8ff";
$i-zoom_out: "\e900";

