/* DEFAULT BACKGROUND COLORS */
$pr-clr: #fff;
$scnd-clr: #f2f2f2;
$third-clr: #aaaaaa;
$fourth-clr: #222222;

/* DEFAULTS FONTS COLORS */
$font-pr-clr: #fff;
$font-scnd-clr: #000000;
$font-thrd-clr: #aaabac;
$font-fourth-clr: #25f1b0;

/* DEFAULTS BUTTONS COLORS */
$btn-info: #007bb6;
$btn-warn: #ffbc4d;
$btn-def: #1f253d;
$btn-scs: #25f1b0;
$btn-err: #ce0707;
$btn-def-opacity: rgba(255,255,255,.3);

/* SOCIAL LINKS COLORS */
$fb-clr: #3b5998;
$vk-clr: #45668e;
$tw-clr: #00aced;
$inst-clr: #517fa4;
$linked-clr: #007bb6;
$g-clr: #dd4b39;
$ytube-clr: #bb0000;

/* DEFAULTS HEADER COLORS */
$h5-clr: #11a8ab;
$h4-clr: #cc324b;
$h3-clr: #1a4e95;
$h2-clr: #35aadc;
$h1-clr: #394264;

/* DEFAULTS BORDER COLORS */
$brdr-def: #2c2c2c;
$brdr-light: #f2f2f2;
$brdr-scs: #25f1b0;
$brdr-info: #005C90;
$brdr-warn: #efab53;
$brdr-err: #9B0000;

/* CUSTOM VARIABLES */
$validation-error: rgba(177, 0, 0, 0.23);
$validation-scs: rgba(34, 174, 111, 0.53);

/* DEFAULT INDEXES */
$high-index: 10000;
$middle-index: 1000;
$low-index: 100;